<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/main_icon"
        android:label="캠핑어스"
        android:roundIcon="@mipmap/main_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampingUsProjectcustomer"
        tools:targetApi="31">
        <activity
            android:name=".ui.splashscreen.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"><!--디폴트 스플래시 스크린이 나오므로 그것을 안보이게 해주는 것-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--네이버 지도 아이디-->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="4z4bi8b5cl" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>